---
title: Overview
---
<!-- <script language="javascript" src="/javascripts/tweet/jquery.tweet.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/tweet/jquery.tweet.css" media="screen" />

<script type='text/javascript'>
    $(document).ready(function(){
        $(".tweet").tweet({
          avatar_size: 32,
          count: 4,
          query: "netzke",
          loading_text: "Loading tweets..."
        });
    });
</script> -->

<div id="splash">

  <div class="col3 left">
    <h2 class="label label-green"><a href="http://blog.writelesscode.com/blog/2010/06/14/extjs-rails-crud-application-in-7-minutes/">Start here</a></h2>
    <p class="quiet large">Full-featured CRUD web-app in 7 minutes</p>
    <p>Learn, step-by-step, how to build an online task manager - in only 7 minutes.</p>
  </div>

  <div class="col3-mid left">
    <h2 class="label label-blue"><a href="/documentation/">Become an expert</a></h2>
    <p class="quiet large">Dive into numerous tutorials</p>
    <p>Detailed tutorials and guides explain different aspects of Netzke.</p>
  </div>

  <div class="col3 right">
    <h2 class="label label-orange"><a href="/community/">Get a hand</a></h2>
    <p class="quiet large">Join the quickly growing community</p>
    <p>A number of web developers are using Netzke in their projects. Get their help.</p>
  </div>

  <div class="clearer">&nbsp;</div>

</div>

<div class="main" id="main-two-columns">

  <div class="left" id="main-content">

    <div class="section">

      <div class="section-title">Facets of Netzke</div>

      <div class="section-content">

        <div class="post">
          <div class="post-title"><h2>What is Netzke</h2></div>
          <div class="post-body">
            <ul>
              <li>
                Netzke is an elegant and powerful <strong>architectural solution</strong> to several known problems that accompany development of complex AJAX-driven RIA (Rich Internet Applications). No matter how complex your application is, Netzke will help you keep your code maintainable and clean.
              </li>
              <li>
                Netzke provides for a beautiful blend of client- and server-side code (JavaScript and Ruby, respectively) into well defined, configurable, low-traffic, extendible, and highly reusable <strong>components</strong>.
              </li>
              <li>
                Netzke extensively uses the "convention over configuration" ideology, making the GUI code extremely <em>fast to write</em> and <em>easy to read</em> in common cases, but without imposing any limits even when a serious deviation is desired. Are you an Ext JS expert? Netzke will honor that!
              </li>
            </ul>
          </div>
        </div>

        <div class="post">
          <div class="post-title"><h2>True Component Framework</h2></div>
          <div class="post-body">
            Using components in your projects gives you several very powerful advantages. Having these at your disposal, you can quickly build <em>amazingly</em> complex RIA without turning your code into a mess:
            <ul>
              <li><strong>Reusability</strong>. Write a component once, and use it throughout your application easily, or share it between applications.</li>
              <li><strong>Composability</strong>. Build new components by combining existing components.</li>
              <li><strong>Extensibility</strong>. Components are essentially Ruby classes, and can be easily extended using the object-oriented approach.</li>
              <li><strong>Encapsulation</strong>. You (or your fellow developers) don't even need to know JavaScript or Sencha libraries in order to use existing components.</li>
            </ul>
          </div>
        </div>

        <div class="clearer">&nbsp;</div>

      </div>

    </div>

    <div class="clearer">&nbsp;</div>

  </div>

  <div class="right sidebar" id="sidebar">

    <div class="section">

      <div class="section-title">What developers say</div>

      <div class="section-content">
        <em>
          "Netzke makes it <strong>extremely</strong> easy to add data grids and other Ext JS components to your Rails application."
        </em><br/>
        <div class="quote-source">Gregg Pollack, Nathaniel Bibler, <a href="http://envylabs.com/">Envy&nbsp;Labs</a> (<a href="http://ruby5.envylabs.com/episodes/56-episode-54-february-26-2010/stories/446-netzke-data-grids-with-ext-js">Ruby5 episode</a>)
        </div>
      </div>

      <div class="section-content">
        <em>
          "This is one of the best bits of computer science I have ever seen. In twenty years. Its like Ruby and Javascript are doing circus tricks."
        </em><br/>
        <div class="quote-source">Guy Roberts, <a href="http://propheris.com/">Propheris Ltd.</a>
        </div>
      </div>

      <div class="section-content">
        <em>
          "I love Netzke and I've included it in lessons for my students."
        </em><br/>
        <div class="quote-source"><a href="http://www.rodolinux.com.ar/">Rodolinux</a>
        </div>
      </div>

      <div class="section-content">
        <em>
          "This Netzke thing will drastically simplify my code base because I can use Rails as the back end... Netzke is the way things are supposed to be done."
        </em><br/>
        <div class="quote-source">Jon Roberts</div>
      </div>

      <!-- <div class="section">
        <div class="section-title">Recent tweets</div>
        <div class="section-content tweet"></div>
      </div> -->

    </div>

  </div>

  <div class="clearer">&nbsp;</div>

</div>
